{% load staticfiles %}
<html lang="es">

<head>
  <meta charset="iso-8859-1" />
  <link rel="stylesheet" href="{% static 'css/main.css'%}" />
  <title>Home</title>
</head>

<body>
  <!--menu  -->
<header class="elemento1">
    <img src="{% static 'imagen/imagen1.jpg'%}" class="imagen" />
    <h1 class="titulo">{% block title %}{% endblock %}</h1>
    <nav class="menu">

      {%if request.user.is_authenticated %}
        <a id="menu" href="{% url 'logout_view'%}">Cerrar S</a>
        <a id="menu" href="{% url 'carrito'%}">Compras</a>
      {% else %}
        {%ifnotequal request.build_absolute_uri 'http://127.0.0.1:8000/login/'%}
          <a id="menu" href="{% url 'login' %}">Login</a>
        {% endifnotequal%}
      {% endif %}
      {%ifequal request.build_absolute_uri 'http://127.0.0.1:8000/login/'%}
        <a id="menu" href="{% url 'articulo' tipo='COMPUTADORA' %}">Computadoras</a>
        <a id="menu" href="{% url 'articulo' tipo='CELULAR' %}">Celulares</a>
        <a id="menu" href="{% url 'articulo' tipo='TABLET' %}">Tables</a>
      {% endifequal %}
      {%ifequal request.build_absolute_uri 'http://127.0.0.1:8000/producto/index/'%}
        <a id="menu" href="{% url 'articulo' tipo='COMPUTADORA' %}">Computadoras</a>
        <a id="menu" href="{% url 'articulo' tipo='CELULAR' %}">Celulares</a>
        <a id="menu" href="{% url 'articulo' tipo='TABLET' %}">Tables</a>
      {% endifequal %}
        {%ifequal request.build_absolute_uri 'http://127.0.0.1:8000/producto/'%}
          <a id="menu" href="{% url 'articulo' tipo='COMPUTADORA' %}">Computadoras</a>
          <a id="menu" href="{% url 'articulo' tipo='CELULAR' %}">Celulares</a>
          <a id="menu" href="{% url 'articulo' tipo='TABLET' %}">Tables</a>
        {% endifequal %}
        {%ifequal request.build_absolute_uri 'http://127.0.0.1:8000/producto/COMPUTADORA'%}
          <a id="menu" href="{% url 'index' %}">Inicio</a>
          <a id="menu" href="{% url 'articulo' tipo='CELULAR' %}">Celulares</a>
          <a id="menu" href="{% url 'articulo' tipo='TABLET' %}">Tables</a>
        {% endifequal %}
        {%ifequal request.build_absolute_uri 'http://127.0.0.1:8000/producto/CELULAR'%}
          <a id="menu" href="{% url 'index' %}">Inicio</a>
          <a id="menu" href="{% url 'articulo' tipo='COMPUTADORA' %}">Computadoras</a>
          <a id="menu" href="{% url 'articulo' tipo='TABLET' %}">Tables</a>
        {% endifequal %}
        {%ifequal request.build_absolute_uri 'http://127.0.0.1:8000/producto/TABLET'%}
          <a id="menu" href="{% url 'index' %}">Inicio</a>
          <a id="menu" href="{% url 'articulo' tipo='COMPUTADORA' %}">Computadoras</a>
          <a id="menu" href="{% url 'articulo' tipo='CELULAR' %}">Celulares</a>
        {% endifequal %}
        {%ifequal request.build_absolute_uri 'http://127.0.0.1:8000/compras/'%}
          <a id="menu" href="{% url 'index' %}">Inicio</a>
        {% endifequal %}
      {% block url %}{% endblock %}
      <!-- <a id="menu" href="{% url 'articulo' tipo='COMPUTADORA' %}">Computadoras</a>
      <a id="menu" href="{% url 'articulo' tipo='CELULAR' %}">Celulares</a>
      <a id="menu" href="{% url 'articulo' tipo='TABLET' %}">Tables</a> -->
    </nav>
</header>

  {% block content %}{% endblock %}


  <div class="elemento3">

    <a href="https://es-la.facebook.com/onlinetecnologia1/" id="pie">Facebook</a>
    <a href="https://www.youtube.com/watch?v=1itm2NXQBmI" id="pie">Youtube</a>

  </div>
</body>

</html>
