{% extends "base.html" %}
{% load staticfiles %}
{% block url%}
<a id="menu" href="{% url 'index' %}">Inicio</a>
{% endblock %}
{% block title %}
  Ventas de {{datos}}
{% endblock %}
{% block content %}

<div class="elemento2">
  {% for dato in datos_articulos %}
  <div class="contenImagen">
    <h3>{{dato.modelo}}</h3>
    <img src="../../../media/{{dato.imagen}}" class="imagen1"  />
    <div class="botonC"> <a id="boton" href="{% url 'desc_arti' tipo=dato.modelo %}">description</a>
    {%if request.user.is_authenticated %}
    
    <a id="boton" href="{% url 'compra_articulo' id_prod=dato.id %}">Compra</a>
    {% endif%}
    </div>
  </div>
  {%endfor%}

</div>

{% endblock %}
