{% extends "base.html" %}
{% block title %}Ventas de equipos de computo {% endblock %}
{% block content %}
  <section>

    <hgroup>
    <h1> Lo mejor en tecnologia lo encotraras aqui </h1>
    <h3>Computadoras, celulares y tables estan a tu disposicon animate</h3>
    </hgroup>
    <figure><img src="imagen/images11.jpeg" id="imagent"/></figure>
    <figcaption> <h3>Las mejoes ofertas y lo mas moderno</h3></figcaption>
   </section>
  <aside>
    <a id="nota"><blockquote><em id="textnota"><b>Compras los mejores equipos de computos aqui</b></em></blockquote></a>
    <a id="nota"><blockquote> <b id="textnota">Nesecitas un <em>celular</em> aqui tenemos las mejores ofertas</b></blockquote></a>
    <a id="nota" href="html/compu.html"><blockquote>
      <img src="imagen/bosina.jpg" class="imagen2" />Bosinas <em><b>Gratis</b></em>
    </blockquote></a>
    <a id="nota" href="html/cel.html"><blockquote >
      <img src="imagen/audio.jpeg" class="imagen2"/>Llebatelos de <strong><em>Regalo</em></strong>
    </blockquote></a>
  </aside>
{% endblock %}
