<nav class="menu">

  {%if request.user.is_authenticated %}
    <a id="menu" href="{% url 'logout_view'%}">Cerrar S</a>
    <a id="menu" href="{% url 'carrito'%}">Compras</a>
  {% else %}
    {%ifnotequal request.build_absolute_uri 'http://127.0.0.1:8000/login/'%}
      <a id="menu" href="{% url 'login' %}">Login</a>
    {% endifnotequal%}
  {% endif %}
  {%ifequal request.build_absolute_uri 'http://127.0.0.1:8000/login/'%}
    <a id="menu" href="{% url 'articulo'%}">Computadoras</a>
    <a id="menu" href="{% url 'articulo'%}">Celulares</a>
    <a id="menu" href="{% url 'articulo'%}">Tables</a>
  {% endifequal %}
  {%ifequal request.build_absolute_uri 'http://127.0.0.1:8000/producto/index/'%}
    <a id="menu" href="{% url 'articulo' %}">Computadoras</a>
    <a id="menu" href="{% url 'articulo' %}">Celulares</a>
    <a id="menu" href="{% url 'articulo' %}">Tables</a>
  {% endifequal %}
    {%ifequal request.build_absolute_uri 'http://127.0.0.1:8000/producto/'%}
      <a id="menu" href="{% url 'articulo'  %}">Computadoras</a>
      <a id="menu" href="{% url 'articulo'  %}">Celulares</a>
      <a id="menu" href="{% url 'articulo'  %}">Tables</a>
    {% endifequal %}
    {%ifequal request.build_absolute_uri 'http://127.0.0.1:8000/producto/COMPUTADORA'%}
      <a id="menu" href="{% url 'index' %}">Inicio</a>
      <a id="menu" href="{% url 'articulo'  %}">Celulares</a>
      <a id="menu" href="{% url 'articulo'  %}">Tables</a>
    {% endifequal %}
    {%ifequal request.build_absolute_uri 'http://127.0.0.1:8000/producto/CELULAR'%}
      <a id="menu" href="{% url 'index' %}">Inicio</a>
      <a id="menu" href="{% url 'articulo'  %}">Computadoras</a>
      <a id="menu" href="{% url 'articulo'  %}">Tables</a>
    {% endifequal %}
    {%ifequal request.build_absolute_uri 'http://127.0.0.1:8000/producto/TABLET'%}
      <a id="menu" href="{% url 'index' %}">Inicio</a>
      <a id="menu" href="{% url 'articulo'  %}">Computadoras</a>
      <a id="menu" href="{% url 'articulo'  %}">Celulares</a>
    {% endifequal %}
    {%ifequal request.build_absolute_uri 'http://127.0.0.1:8000/compras/'%}
      <a id="menu" href="{% url 'index' %}">Inicio</a>
    {% endifequal %}
  {% block url %}{% endblock %}
  <!-- <a id="menu" href="{% url 'articulo' %}">Computadoras</a>
  <a id="menu" href="{% url 'articulo'  %}">Celulares</a>
  <a id="menu" href="{% url 'articulo'  %}">Tables</a> -->
</nav>
